.game-detail {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.game-detail-img {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.game-detail-name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-weight: bold;
}

.game-detail-player {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.game-detail-runs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.game-detail-video {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;

    padding: 6px 20px 6px 20px;
    background-color: #e7e7e7;
    border-radius: 3px;
}

.game-detail-video a {
    text-decoration: none;
    color: black;
}

.game-detail-video:hover {
    border-color: black;
    cursor: pointer;
    font-weight: bold;
}